.container {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    border: 1px solid black;
    margin-left: 4%;
}
.title {
    /* border: 1px solid black; */
    /* float: left; */
}